/*--- Dev CSS Start ---*/
.formFeedBack_wrap {
  width: 378px;
  height: 667px;
  margin: 0 auto;
  background: #E4F1EE;
  padding: 30px 30px;
  position: relative;
  box-sizing: border-box;
}

@media  (max-width: 1366px) {
  .formFeedBack_wrap {
    height: 100vh;
    width: 100%;
  }
}